[submodule "external/bx"]
	path = external/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "external/bimg"]
	path = external/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "external/bgfx"]
	path = external/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "external/bgfx.cmake"]
	path = external/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "external/luaJIT"]
	path = external/luaJIT
	url = git@github.com:LuaJIT/LuaJIT.git
[submodule "assets"]
	path = assets
	url = git@github.com:raybac38/silence-game.git
